* text=auto

LICENSE eol=crlf

*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf
*.rtf -text
**/*.json linguist-language=jsonc

*.mcfunction linguist-vendored=false
.minecraft/mcfuncs/sbitems/* linguist-vendored=true
