LICENSE eol=crlf
*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf
*.rtf -text
**/*.json linguist-language=jsonc
*.mcfunction linguist-vendored
*.psd filter=lfs diff=lfs merge=lfs -text
*d filter=lfs diff=lfs merge=lfs -text
*.mcfunction linguist-vendored
*.txt filter=lfs diff=lfs merge=lfs -text
.data/org/org_pwd.txt filter=lfs diff=lfs merge=lfs -text
