* text=auto

LICENSE eol=crlf

*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf
*.rtf -text


**/*.json linguist-language=jsonc
.minecraft/mcfuncs/floor7/**/*.mcfunction linguist-vendored
.minecraft/mcfuncs/mana/**/*.mcfunction linguist-vendored
.minecraft/mcfuncs/maor_belt/**/*.mcfunction linguist-vendored
