node_modules/
npm-debug.log

minecraft/server/**
minecraft/server/servers/**/**/
minecraft/plugins/**/.settings/
minecraft/plugins/**/target/
!minecraft/plugins/**/src/
!minecraft/server/BungeeCord.*
minecraft/plugins/**/src/test/

extensions/**/node_modules/

.cert/

.db/wnjpn.db

scripts/*.exe
*.exe
*.jar
*.log
*.zip
