*{
    margin: 0;
}

:root{
    --font-view: "SF Pro JP", "SF Pro SC", "SF Pro TC", "SF Pro KR", "SF Pro Text", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", メイリオ, Meiryo, "ＭＳ Ｐゴシック", PingFang, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --shishiji-mx-overlay-background-opacity: 0.3;
    --shishiji-btn-active-color: rgba(190, 190, 190, 0.75);
    --shishiji-load-icon-size: 100px;
    --window-width: 100vw;
    --window-height: 100vh;
    --window-half-width: 50vw;
    --window-half-height: 50vh;
    --shishiji-share-icon-width: 70px;
}

.protected{
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -khtml-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

shishiji-mx-overlay{
    position: fixed;
    width: var(--window-width);
    height: var(--window-height);
    pointer-events: auto;
    opacity: var(--shishiji-mx-overlay-background-opacity, 0.6);
    background-color: #000000;
    display: none;
    touch-action: pan-x pan-y;
}

shishiji-mx-overlay.popen{
    display: block;
    z-index: 3001;
    animation: alternative 0.2s linear;
}

shishiji-mx-overlay.pipe{
    opacity: 0;
    z-index: 3001;
    display: block;
    pointer-events: none;
    animation: _alternative 0.3s linear;
}

@keyframes alternative{
    from { opacity: 0; }
    to { opacity: var(--shishiji-mx-overlay-background-opacity, 0.6); }
}

@keyframes _alternative{
    from { opacity: var(--shishiji-mx-overlay-background-opacity, 0.6); }
    to {  opacity: 0; }
}

#ppc-title{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.loading-symbol{
    animation: kkl 1s infinite;
}

@keyframes kkl{
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}

.flxxt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mx-text-center{
    max-width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 20px 0 20px;
}

hr.ppc-cc{
    margin: 20px;
    margin-top: 30px;
}

body{
    width: var(--window-width);
    height: var(--window-height);
    overflow: hidden;
    font-family: var(--font-view);
    touch-action: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

#ppcls{
    position: absolute;
    width: 24px;
    height: 24px;
    fill: currentColor;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

#ppcls:active{
    background-color: var(--shishiji-btn-active-color);
}

@media screen {
    #load_spare:not([style*="display: none"]) #spare_logo {
        animation: load_rotator .25s infinite linear;
    }
}

@keyframes load_rotator {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes load_rotator_d {
    0%{
        transform: rotateY(0deg);
    }
    15%{
        transform: rotateY(30deg);
    }
    25%{
        transform: rotateY(90deg);
    }
    35%{
        transform: rotateY(150deg);
    }
    50%{
        transform: rotateY(180deg);
    }

    65%{
        transform: rotateY(210deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    85%{
        transform: rotateY(330deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

#shishiji-view{
    width: var(--window-width);
    height: var(--window-height);
    overflow: hidden;
}

#setagaku-map{
    width: var(--window-width);
    height: var(--window-height);
    position: relative;
    overflow: hidden;
}

.shishijimap-large{
    width: auto;
    height: auto;
    position: absolute;
}

#app-mount{
    display: none;
    z-index: 999;
}

#noscript_help{
    display: flex;
    width: var(--window-width);
    height: var(--window-height);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: fixed;
    z-index: 50001;
}

#logo_spare_w{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.toOverview{
    opacity: 0.75;
    background-color: black;
}

.ctx-event-detail{
    margin: 20px;
}

#ovv-ctx-loading{
    text-align: center;
}

#ovv-ctx-loading-w{
    width: 100%;
    height: var(--window-half-height);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

table{
    border-collapse: separate;
    border-spacing: 10px 15px;
}

/*#2*/
#overview-options{
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

#overview-context{
    width: 100vw;
    margin-bottom: var(--window-half-height);
    z-index: 999;
}

.overview-option{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}

#overview-context.fadein{
    animation: 1s fadein forwards;
}

@keyframes fadein{
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}
  

.ev_property{
    margin: 10px;
}

.ev_property_cell{
    text-align: left;
}

.crowded_lim{
    margin-bottom: 54px; /*30px*/
}

.crowded_deg_bar{
    height: 10px;
    background: linear-gradient(to right, rgb(0, 141, 0) 33.33%, #fdad00 33.33%, #fdad00 66.66%, rgb(177, 0, 0) 66.66%);
    border-radius: 10px;
}

.mapObj{
    cursor: pointer;
}

#shishiji-overview{
    position: absolute;
    width: var(--window-width);
    display: none;
    z-index: 2000;
    height: var(--window-height);
    background-color: white;
    top: var(--window-height);
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overscroll-behavior: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: inset 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    border-top: 20px solid white;
}

#shishiji-popup-container{
    z-index: 99999;
    position: absolute;
    display: block;
}

.share-icon{
    margin: 5px;
    margin-bottom: 0;
    border-radius: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share-icon-c{
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.share-title{
    margin-top: 15px;
    width: 60px;
    text-align: center;
    font-size: small;
    height: 50px;
    color: white;
}

#shishiji-popup-container-c{
    display: none;
    position: absolute;
    width: 500px;
    height: 450px;
    margin: 24px;
    overflow: hidden;
}

#ppc-subtitle{
    max-width: 100%;
    text-align: center;
    margin: 5px 20px 0 20px;
    font-size: 75%;
}

.share_ebtn{
    touch-action: pan-x;
    width: fit-content;
}

.share-icon-w:active{
    background-color: var(--shishiji-btn-active-color);
}

.__ppwf{
    background-color: transparent;
    color: white;
}

/*#2*/
#shishiji-overview::-webkit-scrollbar{
    display: none;
}

#shishiji-overview.raiseup{
    animation: .5s raiseup ease-in-out;
}

@keyframes raiseup{
    from{
        top: var(--window-height);
    }
    to{
        top: 0vh;
    }
}

#shishiji-overview.reducedown{
    animation: .2s reducedown linear;
}

@keyframes reducedown{
    from{
        top: 0vh;
    }
    to{
        top: var(--window-height);
        display: none;
    }
}

.overview-c{
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 50%;
    touch-action: pan-x pan-y;
}

.overview-c:active{
    background-color: var(--shishiji-btn-active-color);
}

.mapObj_mainctx{
    border: solid 4px white;
    background-color: white;
    border-radius: 5px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.shadowedObj{
    box-shadow:
    -10px 10px 25px rgba(0, 0, 0, 0.9),
    10px -10px 25px rgba(0, 0, 0, 0.9);
}

.mapObj_centerAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    position: absolute;
}

.ccENTER_A{
    display: flex;
    align-items: center;
}

.ccENTER_B{
    display: flex;
    justify-content: center;
}

.ccENTER_Z{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article.header{
    width: var(--window-width);
}

#shishiji-canvas{
    position: absolute;
}

#user-stricter{
    position: absolute;
    width: var(--window-width);
    height: var(--window-height);
    background-color: black;
    display: none;
    z-index: 1999;
}

#user-stricter.active{
    animation: appear .5s ease;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

.article.titleC{
    display: flex;
    align-items: center;
    margin: 15px;
}

.preview-video{
    width: 100%;
}

#place-selector{    /*#1*/
    z-index: 1998;
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 50px;
    margin: 10px;
    background-color: rgb(196, 196, 196);
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    transition: all 0.2s ease;
}

#place-selector.popped{
    width: 67px;
    height: 67px;
}

.realshadow{
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

.ovv-btn{
    margin: 5px;
    margin-left: 0;
}

.premiumshadow{
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

#place-options-w{
    display: none;
}

#place-selector.toSel{
    overflow: visible;
}

#place-selector.hello{
    animation: slideup 1s ease;
}

.share-icon-w{
    padding-top: 8px;
    margin-right: 7px;
    border-radius: 5px;
    width: var(--shishiji-share-icon-width);
}

.share-icon-w:first-of-type{
    margin-left: 14px;
}

.share-icon-f{
    min-width: 7px;
    max-width: 7px;
    height: 100%;
}

#ovv-ctx-loading-w{
    font-family: var(--font-view);
}

#psdummy{       /*#1*/
    width: 100%;
    height: 100%;
    background-image: url("/resources/img/floorOpt.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: absolute;
}

#place-options{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

#place-options-w.toSel{
    animation: 0.2s slideup linear;
}

#place-options-w.undoSel{
    animation: 0.21s slidedown linear;
}

@keyframes slideup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidedown{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.placeOpt{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#load_spare.loaddoneman{
    animation: 1s disappear linear;
}

@keyframes disappear{
    from {opacity: 1;}
    to {opacity: 0;}
}

#ppupds{
    background-color: #212121;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 20px;
}

#ppupir{
    display: flex;
    height: 175px;
    margin-top: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#sggty{
    width: 100%;
    height: 100px;
    color: white;
}

.share-icon-c.-o{
    width: 45px;
    height: 45px;
    background-color: rgba(146, 146, 146, 0.5);
}

.share_ebtn.-p{
    display: flex;
}

.share-title.-l{
    width: 100%;
}

#stttgy{
    height: 100%;
}

#load_spare{
    position: absolute;
    width: var(--window-width);
    height: var(--window-height);
    z-index: 1002;
    background-color: white;
    display: none;
}

#load_spare_c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-perspective: 500px;
    perspective: 500px;
}

#spare_logo{
    width: var(--shishiji-load-icon-size);
    height: var(--shishiji-load-icon-size);
}

#spare_message{
    text-align: center;
    margin-top: 5px;
}
