*{
    margin: 0;
}

:root{
    --font-view: "SF Pro JP", "SF Pro SC", "SF Pro TC", "SF Pro KR", "SF Pro Text", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", メイリオ, Meiryo, "ＭＳ Ｐゴシック", PingFang, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.protected{
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -khtml-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: var(--font-view);
}

#shishiji-view{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#setagaku-map{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.shishijimap-large{
    width: auto;
    height: auto;
    position: absolute;
}

img{
    transition: all 0.1s linear;
}

#noscript_help{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.toOverview{
    opacity: 0.75;
    background-color: black;
}

.ctx-event-detail{
    margin: 20px;
}

table{
    border-collapse: separate;
    border-spacing: 10px 15px;
}

.ev_property{
    margin: 10px;
}

.ev_property_cell{
    text-align: left;
}

.crowded_lim{
    margin-bottom: 54px; /*30px*/
}

.crowded_deg_bar{
    height: 10px;
    background: linear-gradient(to right, rgb(0, 141, 0) 33.33%, #fdad00 33.33%, #fdad00 66.66%, rgb(177, 0, 0) 66.66%);
    border-radius: 10px;
}

.mapObj{
    cursor: pointer;
}

.mapObj_mainctx{
    border: solid 4px white;
    background-color: white;
    border-radius: 5px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mapObj_centerAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    position: absolute;
}

.ccENTER_A{
    display: flex;
    align-items: center;
}

.ccENTER_B{
    display: flex;
    justify-content: center;
}

.ccENTER_Z{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article.header{
    width: 100vw;
}

#shishiji-canvas{
    position: absolute;
}

.article.titleC{
    display: flex;
    align-items: center;
    margin: 15px;
}

.preview-video{
    width: 100%;
}
